/* Set background color for the entire page */
body {
    background-color: #F5F0E0;
}

h1{
    font-family: "Inria Serif", serif;
}

/* Style for the navbar */
.navbar {
    background-color: #EFEAE0;
    padding: 0;
    text-align: center;
}
.navbar .logo {
    height: 54px;
    width: auto;
    margin-right: 10px;
    transform: translateY(10px);
}

/* Style for the navbar title */
.navbar .title {
    font-family: "Inria Serif", serif;
    display: inline-block; /* Display title inline */
    font-size: 48px;
    font-weight: bold;
    margin-right: 10px; /* Add some right margin for spacing */
    color: #000000; /* Set the desired color */
    text-decoration: none; /* Remove underline */
}

.navbar .links {
    list-style-type: none;
    padding: 0;
    display: inline-block; /* Display links inline */
}

.navbar .links li {
    font-family: "Inria Serif", serif;
    display: inline; /* Display list items inline */
    margin: 0 10px;
    font-size: 26px;
}


/* Style for the navbar logo */

.card-container {
    background-color: #EFEAE0;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 75%; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
}

.box-container {
    background-color: #EFEAE0;
    border-radius: 10px;
    padding: 20px;
    margin: 10px auto;
    width: 90%; /* Take up full width of the container */
}

.wrapper {
    text-align: center; /* Center the form elements */
}

.input-box {
    margin: 10px 0; /* Add space between input fields */
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px; /* Adjust width as needed */
}

a {
    text-decoration: none; /* Remove underline */
}

.container {
    background-color: #EFEAE0;
    border-radius: 10px;
    padding: 2px 20px 20px 20px;
    display: flex;
    flex-direction: column; /* Stacks elements vertically */
    position: fixed;
    bottom: 0;
    top: 150px;
    width: 75%; /* Take up full width of the viewport */
    max-height: calc(100vh - 55px); /* Subtract padding from total viewport height */
    overflow-y: auto; /* Enable vertical scrolling */
    left: 50%;
    transform: translateX(-50%);
    /* Center horizontally */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    border-width: 0; /* Collapse table borders */
    width: 100%; /* Full width */
    border-collapse: collapse;
}

th, td {
    padding: 20px; /* Increase space between rows and columns */
    border: 0 solid #ddd; /* Add border for cells */
    text-align: left; /* Align text to left */
    font-family: "Inria Serif", serif;
    font-weight: 400;
}

th {
    background-color: #EFEAE0;
    font-size: 25px; /* Text size for header cells */
}

td {
    font-size: 20px; /* Text size for body cells */
}

.custom-hr {
    border: none;
    height: 5px;
    background-color: #000; /* Black color */
    margin: 20px 10%; /* Adds space above, below, left, and right */
}

/* General form styling */
form {
    width:90%;
    margin: 0 auto;
    padding: 20px;
    border: 0 solid #ccc;
    border-radius: 10px;
    background-color: #EFEAE0;
    display: flex;
    flex-wrap: wrap;
}
.form-group {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
/* Label styling */
form label {
    font-family: "Inria Serif", serif;
    font-size: 24px;
    width: 30%;
    margin-bottom: 0;
    text-align: left;
    padding-right: 10px;
}

/* Input field styling */
form input[type="text"],
form input[type="number"],
form input[type="hidden"],
form input[type="password"],
form textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #8E8E8E;
    border-radius: 0;
    background-color: #EFEAE0;
    box-sizing: border-box;
}

/* Specific styling for textarea to make it taller */
form textarea {
    height: 100px; /* Adjust this value as needed */
    resize: vertical;
}

#form-editprofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Button styling */


/* Style for the styled-button class */
.styled-button {
    font-family: "Inria Serif", serif;
    color: white;
    width: 100%;
    font-size: 20px;
    background-color: #AEAEAE; /* Button background color */
    border: none; /* Remove border */
    border-radius: 0; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Inline-block display */
    margin: 10px 0; /* Margin for spacing */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.a-styled-button {
    font-family: "Inria Serif", serif;
    color: white;
    width: 100%;
    font-size: 20px;
    background-color: #AEAEAE; /* Button background color */
    border: none; /* Remove border */
    border-radius: 0; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    display: inline-block; /* Inline-block display */
    margin: 10px 0; /* Margin for spacing */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}
.a-styled-button a {
    font-family: "Inria Serif", serif;
    color: white; /* Link text color */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Font size */
    display: block; /* Make the link block-level to fill the button */
    transition: color 0.3s; /* Smooth transition for text color */
}
/* Style for the button-link class */
.styled-button a {
    font-family: "Inria Serif", serif;
    color: white; /* Link text color */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Font size */
    display: block; /* Make the link block-level to fill the button */
    transition: color 0.3s; /* Smooth transition for text color */
}

/* Hover effect for the button */
.styled-button:hover {
    background-color: #EFEAE0; /* Background color on hover */
    color: black;
}

.styled-button:hover a {
    color: black; /* Text color on hover */
}

.a-styled-button:hover {
    background-color: #EFEAE0; /* Background color on hover */
    color: black;
}

.a-styled-button:hover a {
    color: black; /* Text color on hover */
}

/* adhis */
.balance-display, .total-display, .payment-status, .pay-button-container {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}
.pay-now {
    padding: 10px 20px;
    background-color:#343A40;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}
.pay-now:hover {
    background-color: #545d66;
}
.error, .alert-info {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    margin: 20px auto;
    text-align: left;
}
.alert-info {
    background-color: #32cc56;
    color: white;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px; /* Adjust spacing as needed */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #EFEAE0; /* Same as the container background */
    z-index: 1;
    padding: 10px 0; /* Add padding to avoid content overlap */
}

/* Style for the Add Listing link */
.add-listing-link {
    font-family: "Inria Serif", serif;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
    margin-left: 20px;
}

.add-listing-link:hover {
    text-decoration: none;
    color: #000;
}

.table-container {
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.table.table-bordered.table-striped th,
.table.table-bordered.table-striped td {
    padding: 20px; /* Increase space between rows and columns */
    border: 2px solid #ddd; /* Add border for cells */
    text-align: left; /* Align text to left */
    font-family: "Inria Serif", serif;
    font-weight: 400;
}