<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Listing</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
  <h1>Add New Listing</h1>
  <!-- Display error message -->
  <div th:if="${error}" class="error-message">
    <p th:text="${error}" style="color: red;"></p>
  </div>
  <form id="addListingForm" action="/save-listing" method="post" onsubmit="return validateForm()">
    <label for="product_name">Listing Name:</label>
    <input type="text" id="product_name" name="product_name" required>

    <label for="product_quantity">Stock:</label>
    <input type="number" id="product_quantity" name="product_quantity" required>

    <label for="product_description">Description:</label>
    <textarea id="product_description" name="product_description" rows="4" cols="50" required></textarea>

    <label for="product_price">Price:</label>
    <input type="number" id="product_price" name="product_price" required>

    <button type="submit">Add Listing</button>
  </form>
</div>
<script>
  function validateForm() {
    var quantity = document.getElementById("product_quantity").value;
    var price = document.getElementById("product_price").value;

    if (quantity <= 0 & price <= 0) {
      alert("Stock and price must be a positive number.");
      return false;
    } else if (quantity <= 0) {
      alert("please enter a suitable positive quantity number");
      return false;
    } else if (price <= 0 ) {
      alert("please enter a suitable positive price number");
      return false;
    }
    return true;
  }
</script>
</body>
</html>
