<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Cart</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/script.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
  <div class="title-container"><h1>Cart</h1></div>
<div class="box-container">
<div class="balance-display">
  <strong>Your Current Balance:</strong> <span th:text="${balance}">0.00</span>
</div>
<div class="total-display">
  <strong>Total Cost:</strong> <span th:text="${totalCost}">0.00</span>
</div>
<div class="payment-status">
  <strong>Payment Status:</strong>
  <span id="paymentStatus" th:text="${paymentStatus}">No recent payments</span>
</div>
<div class="pay-button-container">
  <form id="paymentForm" action="/payment/initiate" method="post">
    <input type="hidden" name="amount" th:value="${totalCost}" />
    <button type="submit" class="pay-now">Request Approval</button>
  </form>
  </div>
 </div>




<div class="table-container">
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cartItem : ${cartItems}">
    <td th:text="${cartItem.listing.id}"></td>
    <td th:text="${cartItem.listing.product_name}"></td>
    <td th:text="${cartItem.quantity}"></td>
    <td th:text="${cartItem.listing.product_price}"></td>
    <td>
      <form action="/remove-from-cart" method="post">
        <input type="hidden" name="cartItemId" th:value="${cartItem.id}" />
        <button class="styled-button" type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table></div>
</div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var status = document.getElementById('paymentStatus').textContent;
    if (status === 'PENDING') {
      document.getElementById('paymentForm').style.display = 'none';
    }
  });
</script>
</html>
