<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <title>Edit Profile</title>
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
    <form id="form-editprofile" method="POST" action="/editprofile" th:object="${user}">
        <h1>Edit Profile</h1>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" id="username" name="username" placeholder="Username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password" name="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="password">Confirm Password</label>
            <input type="password" th:field="*{confirmPassword}" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        </div>

        <div th:if="${passwordError != null}">
            <p th:text="${passwordError}" style="color: red;"></p>
        </div>
        <div class="button-container">
        <button type="submit" class="a-styled-button" style="width:25%">Save</button>
        </div>
    </form>
</div>
</body>
</html>