<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
</head>
<body>
<h1>Listings</h1>

<!-- Display listings -->
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Add to Cart</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through listings -->
    <tr th:each="listing : ${listings}">
        <td th:text="${listing.listingName}"></td>
        <td th:text="${listing.listingStock}"></td>
        <td th:text="${listing.listingDescription}"></td>
        <td th:text="${listing.listingPrice}"></td>
        <!-- Form to add listing to cart -->
        <td>
            <form action="/add-to-cart" method="post">
                <input type="hidden" name="listing.listingID" th:value="${listing.listingID}" />
                <input type="number" name="quantity" value="1" />
                <button type="submit">Add to Cart</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
