<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Listings</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
  <div class="title-container">
    <h1>Manage Listings</h1>
    <a th:href="@{/add-listing}" class="add-listing-link">Add Listing</a>
  </div>
  <!-- Display error message if any -->
  <div th:if="${error}" class="error-message">
    <p th:text="${error}" style="color: red;"></p>
  </div>
  <!-- Display all listings -->
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>STOCK</th>
      <th>DESCRIPTION</th>
      <th>PRICE</th>
      <th>UPDATE</th>
      <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over all listings -->
    <tr th:each="listing : ${listings}">
      <td th:text="${listing.product_id}"></td>
      <td th:text="${listing.product_name}"></td>
      <td th:text="${listing.product_quantity}"></td>
      <td th:text="${listing.product_description}"></td>
      <td th:text="${listing.product_price}"></td>
      <td>
        <!-- Update button -->
        <button class="styled-button"><a th:href="@{/update-listing(id=${listing.product_id})}" class="button">Update</a></button>
      </td>
      <td>
        <!-- Delete button -->
        <form th:action="@{/delete-listing}" method="post" style="display: inline;">
          <input type="hidden" name="id" th:value="${listing.product_id}" />
          <button class ="styled-button" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
