<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Orders</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
    <h1>Manage Orders</h1>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.totalCost}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.createdAt}"></td>
                <td>
                    <form th:action="@{'/orders/update-order-status/' + ${order.id}}" method="post">
                        <select name="status">
                            <option th:value="CREATED" th:text="'Created'" th:selected="${order.status == 'CREATED'}"></option>
                            <option th:value="APPROVED" th:text="'Approved'" th:selected="${order.status == 'APPROVED'}"></option>
                            <option th:value="REJECTED" th:text="'Rejected'" th:selected="${order.status == 'REJECTED'}"></option>
                        </select>
                        <button type="submit">Update Status</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>


