<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/script.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
  <h1>Product Details</h1>

  <!-- Display listing details -->
  <div>
    <h2 th:text="${listing.product_name}"></h2>
    <p><strong>Description:</strong> <span th:text="${listing.product_description}"></span></p>
    <p><strong>Quantity:</strong> <span th:text="${listing.product_quantity}"></span></p>
    <p><strong>Price:</strong> <span th:text="${listing.product_price}"></span></p>
  </div>

  <!-- Form to add listing to cart -->
  <div>
    <form action="/add-to-cart" method="post">
      <input type="hidden" name="listingId" th:value="${listing.product_id}" />
      <input type="hidden" name="maxQuantity" th:value="${listing.product_quantity}" />
      <input type="number" name="quantity" value="1" />
      <button class ="styled-button" type="button" onclick="addToCart(this)">Add to Cart</button>
    </form>
  </div>

  <!-- Link back to all listings -->
  <button class="styled-button"><a href="/listings">Back to Listings</a></button>
</div>
</body>
</html>
