<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Listing</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
  <h1>Update Listing</h1>
  <!-- Update Listing Form -->
  <div class="card-container">
    <form id="updateListingForm" action="/update-listing" method="post">
      <input type="hidden" id="productId" name="id" th:value="${listing.id}" />
      <div class="form-group">
        <label for="productName">Name:</label>
        <input type="text" id="productName" name="product_name" th:value="${listing.product_name}" required>
      </div>
      <div class="form-group">
        <label for="productQuantity">Quantity:</label>
        <input type="number" id="productQuantity" name="product_quantity" th:value="${listing.product_quantity}" required>
      </div>
      <div class="form-group">
        <label for="productDescription">Description:</label>
        <textarea id="productDescription" class="large-input" name="product_description" required th:text="${listing.product_description}"></textarea>
      </div>
      <div class="form-group">
        <label for="productPrice">Price:</label>
        <input type="number" id="productPrice" name="product_price" th:value="${listing.product_price}" required>
      </div>
      <div class="button-container">
        <button type="submit" class="a-styled-button" style="width:25%">Update Listing</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>
