<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Top-Up History</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav :: nav}"></div>
<div class="container">
    <div class="title-container"><h1>Top-Up History</h1></div>
    <div class="box-container">
<div class="balance-display">
    <strong>Your Current Balance:</strong> <span th:text="${balance}">0.00</span>
</div>
        <button class="a-styled-button"><a href="/topups/new">Add New Top-Up</a></button>
    </div>

<div class="table-container">
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Date Created</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="topUp : ${topUps}">
        <td th:text="${topUp.topUpId}"></td>
        <td th:text="${topUp.amount}"></td>
        <td th:text="${topUp.status}"></td>
        <td th:text="${topUp.formattedCreatedAt}"></td>

        <td>
            <form th:if="${topUp.status} == 'PENDING'" th:action="@{'/topups/' + ${topUp.topUpId} + '/cancel'}" method="post">
                <button type="submit" class="cancel">Cancel</button>
            </form>
            <br>
            <form th:action="@{'/topups/' + ${topUp.topUpId} + '/delete'}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table></div></div>
</body>
</html>
